body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #00d640 3px solid;
  opacity: 0.8; }

.logo {
  height: 50px; }

#home-section {
  background: url("../img/green-cords.png") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .bg-form {
    background-color: #00d640; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #00d640;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }
